 #map {
    height: 500px;
    display: none;
  }

  #destinations{
    height: 300px;
  }
  button {
    display: block;
  }

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.responsive-input {
  width: 100%;
  box-sizing: border-box; 
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
}
 #myTable {
    font-size: 12px; /* Change to your desired font size */
  }