 #map {
    height: 500px;
  }

  #destinations{
    height: 300px;
  }
  button {
    display: block;
  }

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.responsive-input {
  width: 100%;
  box-sizing: border-box; 
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
}
.button {
  text-align: center;
  display: inline-block;
  font-size: 15px;
}